* {
  color: white;
}
body {
  margin: 0;
  font-family: "DIN Next W01 Regular", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://img.freepik.com/vector-premium/cielo-estrellado-oscuridad_255502-338.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .toast-message {
  color: black;
} */

